{% extends "header.html" %}

<body>
{% block body %}
<div class="containter" id="left">
        <p><strong>Sentimiento General (Top 20 entidades)</strong></p>
        {% for i, j in entidades[:20].iterrows() %}
        <form action="" method="post">
            {% if j[0] < 0 %}
            <button type="submit" class="list-group-item" id="entneg" name="entidades"
                value="{{ i }}">{{ i }} </button>
            {% elif j[0] > 0 %}
            <button type="submit" class="list-group-item" id="entpos" name="entidades"
                value="{{ i }}">{{ i }} </button>
            {% endif %}
        </form>
        {% endfor %}
</div>
</div>
<div class="container" id="center">
    <embed type="image/svg+xml" id="graph" src={{graph_data|safe}}>
</div>
<div class="container" id="bottom">
    <div class ="btn-group" id="adjetivos">
        <p><strong>Palabras asociadas (últimos 7 días)</strong></p>
        {% for idx, row in desc.iterrows() %}
        {% if row[0] <= -1 %}
        <button type="button" class="btn btn-default" id="v-1"
            name="adjetivos" value="{{ idx }}">{{ idx }}</button>
        {% elif row[0] >= 1 %}
        <button type="button" class="btn btn-default" id="v1"
            name="adjetivos" value="{{ idx }}">{{ idx }}</button>
        {% else %}
        <button type="button" class="btn btn-default" id="v0"
            name="adjetivos" value="{{ idx }}">{{ idx }}
        </button>
        {% endif %}
        {% endfor %}
    </div>
    <div class ="btn-group" id="div-fuentes">
        <p><strong>Fuentes</strong></p>
        <div class ="btn-group" id="fuentes">
        <button type="button" class="btn btn-default" id="explandurls" name="expandurls" data-toggle="collapse"
        data-target="#collapseFuentes" aria-expanded="false" aria-controls="collapseFuentes">Expandir fuentes
        </button>
        <br>
        <br>
        <div class="collapse" id="collapseFuentes">
        <ul class="list-group" id="list-urls">
        {% for i,j in sources.iterrows() %}
            <li class="list-group-item" id="urls" name="lista_fuentes"
            value="{{ i }}"><a href="{{ j[0] }}"</a>{{ i }}</li>
        {% endfor %}
        </ul>
        </div>
        </div>
     </div>
</div>

</body>
{% endblock %}
