{% extends "header.html" %}

<body>
{% block body %}
<div class="containter" id="left">
        <p><strong>Sentimiento General (Top 20 entidades)</strong></p>
        {% for i, j in entidades[:20].iterrows() %}
        <form action="" method="post">
            {% if j[0] < 0 %}
            <button type="submit" class="list-group-item" id="entneg" name="entidades"
                value="{{ i }}">{{ i }} </button>
            {% elif j[0] > 0 %}
            <button type="submit" class="list-group-item" id="entpos" name="entidades"
                value="{{ i }}">{{ i }} </button>
            {% endif %}
        </form>
        {% endfor %}
</div>
</div>
<div class="container" id="center">
    <embed type="image/svg+xml" id="graph" src={{graph_data|safe}}>
</div>
<div class="container" id="bottom">
    <div class ="btn-group" id="adjetivos">
        <p><strong>Palabas asociadas</strong></p>
        {% for idx, row in desc.iterrows() %}
        {% if row[0] <= -1 %}
        <button type="button" class="btn btn-default" id="v-1"
            name="adjetivos" value="{{ idx }}">{{ idx }}</button>
        {% elif row[0] >= 1 %}
        <button type="button" class="btn btn-default" id="v1"
            name="adjetivos" value="{{ idx }}">{{ idx }}</button>
        {% else %}
        <button type="button" class="btn btn-default" id="v0"
            name="adjetivos" value="{{ idx }}">{{ idx }}
        </button>
        {% endif %}
        {% endfor %}
    </div>
    <div class ="btn-group" id="div-fuentes">
        <p><strong>Fuentes</strong></p>
        <div class ="btn-group" id="fuentes">
         {% for i in fuente %}
         <button type="button" class="btn btn-default" id="fuente"
             name="fuentes" value="{{ i }}">{{ i }}</button>
         {% endfor %}
         </div>
         <br>
         <br>
         <ul class="list-group" id="list-urls">
            {% for i,j in noticias.iterrows() %}
            <li type="button" class="list-group-item" id="urls" name="fuentes"
            value="{{ i }}"><a href="{{ j[0] }}"</a>{{ i }}</li>
            {% endfor %}
        </ul>
     </div>
</div>
</body>
{% endblock %}
