{% extends "header.html" %}

<body>
{% block body %}
<div class="containter" id="left">
        <p><strong>Top 20 entidades</strong></p>
        {% for i, j in entities[:20].iterrows() %}
        <form action="" method="post">
            {% if j[2] < 0 %}
            <button type="submit" class="list-group-item" id="entneg" name="entidades"
            value="{{ j[0] }}" src="{{ url_for('static',
            filename='images/menos.png') }}">{{ j[0] }} </button>
            {% elif j[2] > 0 %}
            <button type="submit" class="list-group-item" id="entpos" name="entidades"
                value="{{ j[0] }}" src="{{ url_for('static',
            filename='images/mas.png') }}">{{ j[0] }} </button>
            {% endif %}
        </form>
        {% endfor %}
</div>
<div class="container" id="center">
    <embed type="image/svg+xml" id="graph" src={{graph_data|safe}}>
</div>
<div class="container" id="bottom">
    <div class ="container" id="adjetivos">
    <p><strong>Palabras asociadas (últimos 7 días)</strong></p>
    {% for idx, row in asociated_words.iterrows() %}
    {% if row[0] <= -1 %}
    <p id="v-1"
        name="adjetivos" value="{{ idx }}">{{ idx }}</p>
    {% elif row[0] >= 1 %}
    <p id="v1"
        name="adjetivos" value="{{ idx }}">{{ idx }}</p>
    {% else %}
    <p id="v0"
        name="adjetivos" value="{{ idx }}">{{ idx }}
    </p>
    {% endif %}
    {% endfor %}
    </div>
</div>
<div class ="btn-group" id="div-fuentes">
    <div class ="btn-group" id="fuentes">
    <button type="button" class="btn btn-default" id="explandurls" name="expandurls" data-toggle="collapse"
    data-target="#collapseFuentes" aria-expanded="false" aria-controls="collapseFuentes">Expandir fuentes
    </button>
    <div class="collapse" id="collapseFuentes">
    <ul class="list-group" id="list-urls">
    {% for i,j in sources.iterrows() %}
        <li class="list-group-item" id="urls" name="lista_fuentes"
        value="{{ i }}"><a href="{{ j[0] }}"</a>{{ i }}</li>
    {% endfor %}
    </ul>
    </div>
    </div>
</div>
</body>
{% endblock %}
